@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css"); 

.login-form{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    width: 100vw;
    height: 100vh;
}
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box form .style {
    position: relative;
    display: inline-block;
    padding: 1rem 1.2rem;
    color: #03e9f4;
    font-size: 16px;
    
    text-transform: uppercase;
    border-radius: 10px;

    
    cursor: pointer;
    letter-spacing: 4px
  }
  .message{
    color: #fd0707;
    transition: 250ms ease-in-out;
  }
  .avatar {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-width: 5px;
    border-color: gray;
    border-style: outset;
  }

  .avatar-edit{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .avatar-edit input {
    display: none;
 }
 .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
  position: relative;
  top: -6px;
  left: -22px;
}
.avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-edit label svg{
  text-align: center;
  font-size: 1.7rem;
  position: relative;
  left: 2px;
  cursor: pointer;
  bottom: -1px;
}